name: Macaron Test CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  attestations: write

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Macaron Analysis
        uses: ./
        with:
          policy_file: check-github-actions
          policy_purl: 'pkg:github.com/behnazh-w/example-maven-app@*'
          upload_attestation: true
